
  Buscar usuario:
  <%= form_for @conn,"/call/", [method: :get,enforce_utf8: false], fn f -> %>
   <%= text_input f,:"id", placeholder: "Search by title, content, etc." %>
   <%= submit "Buscar" %>
  <% end %>



