<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Telefono</th>
      <th>Usuario</th>
      

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for [telefono,username ]<- @callcenter do %>
    <tr>
      
      <td> <%= telefono %></td>
      <td><%=  username %></td>
    </tr>
<% end %>
  </tbody>
</table>

