<h1>Listing Cajeros</h1>

<table>
  <thead>
    <tr>
      <th>-</th>
      <th>Cuenta</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for [id,cta] <- @cajeros do %>
    <tr>
      <td><%=id %></td>
      <td><%= cta%></td>
       <td><%= link "Transacion", to:  Routes.cuenta_path(@conn, :edit2, id) %></td>
     </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Cajero", to: Routes.cajero_path(@conn, :new) %></span>
