<h1>Listing Cajeros</h1>

<table>
  <thead>
    <tr>
      <th>Cuenta</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for [id,cta] <- @cajeros do %>
    <tr>
     
      <td><%= cta%></td>
       <td><%= link "Transacion", to:  Routes.cuenta_path(@conn, :edit2, id) %></td>
     </tr>
<% end %>
  </tbody>
</table>

<section class="row">
  <article class="column">
<h1> 
  <a href="/"> Inicio</a>
</h1>
  </article>
</section>
