<h1>Listing Cajeros</h1>

<table>
  <thead>
    <tr>
      <th>Saldo</th>
      <th>Retiro</th>
      <th>Deposito</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for [saldo,retiro,deposito] <- @cajeros do %>
    <tr>
      <td><%=saldo %></td>
      <td><%= retiro %></td>
      <td><%= deposito %></td>

     </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Cajero", to: Routes.cajero_path(@conn, :new) %></span>
