<section class="phx-hero">
  <h1>BANANAMEX EL BANCO DE MÉXICO</h1>
</section>

<section class="row">
<article class="column">
  <h1> 
    <a href="/users"> Usuario</a>
  </h1>
  <h1> 
    <a href="/cuentas"> Cuentas</a>
  </h1>
  <h1> 
    <a href="/cajeros"> Cajero</a>
  </h1>
  <h1> 
    <a href="/call"> Call Center</a>
  </h1>

  </article>
</section>
